<!-- <section class="combos">
    <div><p>Trending Combos</p></div>

    <article> 
        <img alt="img1">
    </article>
    <article> 
        <img alt="img1" >
    </article>
    <article> 
        <img alt="img1">
    </article>
    <article> 
        <img alt="img1">
    </article>
</section>
 <a [routerLink]="['/details', housingLocation.id]">Learn More</a> 
-->

<section class="combos">
   <button mat-raised-button>tc</button>
        <article>
            <a routerLinkActive="active" routerLink="./menuhome"><img class="combo-photo" [src]="tc.photo" alt="Exterior photo of {{tc.comboname}}"></a> 
            <a routerLinkActive="active" routerLink="./menuhome"><h2 class="combo-heading">{{tc.comboname }} <br> <p>{{tc.ordernumber}}</p></h2></a> 
            <div  class="combo-details"><p> {{tc.price }}</p></div>
        </article> 
</section> 
