
<div class="chefnote">
    <p>Inventory</p>
       
</div> 
    

<nav>
    <div class="analytics">
        <ul> 
            <li>
                <p><a  routerLinkActive="active" routerLink="./staff">Requisitions</a></p>  
            </li>
        </ul>  
    </div>
    <hr>
</nav>
<div class="chefnote">
    <div class="title">
    <form class="inputone" action="/action_page.php">
        <button type="submit" mat-raised-button (click)="openDialog()">New Requisition</button>
    </form></div>
</div>

<section class="ordersummary">

      <section class="datatable">
        <table class="tabled">
            <thead>
                <tr>
                    <th width="200px">#</th>
                    <th width="200px">Name</th>
                    <th width="200px">Date In</th>
                    <th width="200px">Quantity In</th>
                    <th width="200px">Current Quantity</th>
                    <th width="200px">Status</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
        </table>
        </section>
    <app-inventoryitems *ngFor="let users of usersList" [users]="users"></app-inventoryitems>
    
</section>
