
<h4 mat-dialog-title> Request Items</h4>

<form>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Item Name</mat-label>
        <input placeholder="Item Name" matInput formControlName="staffname">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input placeholder="Quantity" matInput formControlName="mobile">
    </mat-form-field>
    
</div>
<div mat-dialog-actions>
  <!--<button mat-raised-button color="warn" mat-dialog-close>Close</button>-->
  <button mat-raised-button class="addbutton" [mat-dialog-close]="true" type="submit">Send Request</button>
</div>
</form>