

<section class="comboss">

    <div article-title><p>Hot Beverages</p></div>
    <div class="addmealbtn"><button name="category" id="category" placeholder="select category"> <!--The dropdown, to hide or show a form contents-->
        <option (click)="openAddEditBevForm()">Add Item</option>
    </button> </div> 

    <section class="datatable">
        <table  class="tabled" mat-table [dataSource] = "dataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let row"> {{row.id}}</td>
              </ng-container>
            <!--image to figure shortly-->
              <ng-container matColumnDef="beveragephoto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
                <td mat-cell *matCellDef="let row"><img src="{{row.beveragephoto}}" width="100px" ></td>
              </ng-container>
  
              <ng-container matColumnDef="beveragename">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                <td mat-cell *matCellDef="let row"> {{row.beveragename}}</td>
              </ng-container>
  
              <ng-container matColumnDef="beverageprice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                <td mat-cell *matCellDef="let row"> {{row.beverageprice}}</td>
              </ng-container>
  
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Added </th>
                <td mat-cell *matCellDef="let row"> {{row.date | date}}</td>
              </ng-container> 
              
  
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="openEditBForm(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="deleteBeverage(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              <!-- Row shown when there is no matching data. 
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>-->
            </table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>
      </section>

   
</section>

<!--<section class="datatable">
    <table class="tabled" id="1">
      
        
        <tbody>
            <tr>
                <td class="aligntd" width="100px">{{trendingcombo.id}}</td>
                <td class="aligntd" width="150px"><div class="icondiv"><img [src]="trendingcombo.beveragephoto" alt="image of {{trendingcombo.beveragename}}" width="100px"></div></td>
                <td class="aligntd" width="200px">{{trendingcombo.beveragename}}</td>
                <td class="aligntd" width="150px">{{trendingcombo.beverageprice}}</td>
                <td class="aligntd" width="200px">{{trendingcombo.date}}</td>
                <td class="aligntd" width="200px"><fa-icon class="add" icon="edit"></fa-icon><fa-icon class="del" icon="delete-left"></fa-icon></td>
            </tr>
        </tbody> 
    </table>
</section>-->
