table{
    font-size: larger;
    width: 100%;
}

tbody tr td{
    
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 60px;
    text-align: left;
   color: black;
}

tbody .picnameid{
    display: flex;
    flex-direction: column;
    line-height: 8px;
    margin-top: 8px;
}

tbody .icondiv{
    display:flex;
    flex-direction: row;
    align-items: center;
}   

tbody .picnameid .idno{
    font-size: x-small;
}
.datatable{
    margin:0px 0 0 40px ;
}