<app-staff></app-staff>







<!--
<section class="datatable">
    <table class="tabled">
        
        <tbody>
            <tr>
                <td width="80px"><div class="icondiv"><img [src]="users.staffimg" alt="image of {{users.staffname}}" width="46px"></div></td>
                <td class="aligntd" width="200px"> <div class="picnameid"><p>{{users.staffname}}</p> </div> </td>
                <td class="aligntd" width="200px">{{users.position}}</td>
                <td class="aligntd" width="200px">{{users.department}}</td>
                <td class="aligntd" width="200px">{{users.joined}}</td>
                <td class="aligntd" width="200px">{{users.mobile}}</td>
                <td class="aligntd" width="200px"><fa-icon icon="edit"></fa-icon><fa-icon icon="delete-left"></fa-icon></td>

            </tr>
        </tbody> 
    </table>
</section>
-->

