table{
    font-size: larger;
    width: 100%;
}

tbody tr td{
    
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 60px;
    text-align: left;
   color: black;
}
tbody .icondiv img{
    border-radius: 10%;
    height:60px;
    width:90px;
}

.datatable{
    margin:0px 0 0 0px ;
}
tbody td fa-icon{
    width:40px;
    height:30px;
    padding:10px 20px 10px 10px;
   
}
tbody td .add{
    color: aqua;
}
tbody td .del{
    color:red;
}