<section class="datatable">
    <table class="tabled" id="1">
      
        
        <tbody>
            <tr>
                <td class="aligntd" width="100px">{{trendingcombo.id}}</td>
                <td class="aligntd" width="150px"><div class="icondiv"><img [src]="trendingcombo.singlemealphoto" alt="image of {{trendingcombo.singlemealname}}" width="200px"></div></td>
                <td class="aligntd" width="150px">{{trendingcombo.singlemealname}}</td>
                <td class="aligntd" width="150px">{{trendingcombo.singlemealprice}}</td>
                <td class="aligntd" width="200px">{{trendingcombo.date}}</td>
                <td class="aligntd" width="200px"><button>{{trendingcombo.action}}</button><button>{{trendingcombo.action}}</button></td>
            </tr>
        </tbody> 
    </table>
</section>
<!-- -->