<section class="datatable">
    <table class="tabled">
        
        <tbody>
            <tr>
                <td class="aligntd" width="200px">{{users.itemid}}</td>
                <td class="aligntd" width="200px">{{users.itemname}}</td>
                <td class="aligntd" width="200px">{{users.datein}}</td>
                <td class="aligntd" width="200px">{{users.qtyin}}</td>
                <td class="aligntd" width="200px">{{users.currentqty}}</td>
                <td class="aligntd" width="200px">{{users.qtystatus}}</td>
                <td class="aligntdd" width="200px"><button>{{users.qtyaction}}</button></td>
            </tr>
        </tbody> 
    </table>
</section>