table{
    font-size: larger;
    width: 100%;
}

tbody tr td{
    
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 50px;
    color: rgb(107, 106, 106);
}
    
  button {
  background: aqua;
  border: none;
  font-size: medium;
  border-radius: 5px;
  height: 30px;
  color:white;
}
