
.chefnote{
    display: flex;
    flex-direction: row;
}
.chefnote .title .inputone{
    margin-left: 1000px;
}

hr{
    border-bottom: 2px solid orangered;
    width: 86%;
    margin: 5px 0 0 100px;
}
    
nav .analytics{
    display: inline;
    margin: 0px 0 0 0;
}

nav .analytics li{
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    padding: 0px;
    margin: 0 0 0 100px;
    
}

nav .analytics li p a{
  
     color: rgb(80, 80, 80);  
}
nav .analytics li p a:active{
  color: orangered;
}
nav .analytics li p a:hover{
    color: orangered;
    text-decoration: none;
}

 .chefnote p{
    font-size: xx-large;
    margin: 40px 0 40px 120px;
    font-family: Calibri;
    color: rgb(107, 106, 106);
}

/**/
.comboss{
    color: rgb(107, 106, 106);
    height: 250px;
    width: 1370px;
    padding: 30px 0 0 30px;
    text-align:centre;
    margin: 20px 0 0 70px;
}
.combos{
    display:flex;
    flex-direction: row;
}
.comboss p{
    color: rgb(107, 106, 106);
    font-size: xx-large;
}

.ordersummary{ 
    height: 500px;
    width: 1400px;
    margin: 40px 0 0 70px;
    border: 2px solid rgb(228, 225, 225);
    border-left-color: orangered;
    border-left-width: 5px;
}

/* order summmary*/
table{
    font-size: larger;
    width: 100%;
    margin-left: -20px;
   
}
tr th{
    border-top: 2px solid rgb(228, 225, 225);
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 40px;
    color:rgb(107, 106, 106);
}

.datatable {
 margin: 0 0 0 40px;
}

/*searchform*/
* {
    box-sizing: border-box;
  }
  
  form.input input[type=text] {
    padding: 10px;
    height: 50px;
    font-size: 17px;
    border: 2px solid rgb(228, 225, 225);
    float: left;
    width: 25%;
    margin: 30px 0 30px 880px;
    background: white;
  }
  
  form.input button {
    float:left;
    width: 9%;
    height: 50px;
    margin: 30px 0 0 0;
    padding: 10px;
    background:#c1584a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.input button:hover {
    background: #7a1205;
  }
  /*
  form.input::after {
    content: "";
    clear: both;
  }*/
 
  
 .chefnote .title form button{
   
    width: 100%;
    height: 50px;
    margin: 30px 0 0 100px;
    background:#c1584a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
  }
  .chefnote .title form.inputone button:hover {
    background: #7a1205;
  }
  /*
  .chefnote .title form.inputone::after {
    content: "";
    clear: both;
  }*/







table{
    font-size: larger;
    width: 100%;
}

tbody tr td{
    
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 50px;
    color: rgb(107, 106, 106);   
}
tbody .icondiv img{
    border-radius: 50%;
    height:40px;
}

.datatable{
    margin:0px 0 0 40px ;
}



mat-form-field{
  display: block important;
  position:relative;
  text-align: left;
  width:100%;
  color: black;
  padding-bottom: 10px;
  
}
.addbutton{
  width:90%;
  background-color: green;
  height:50px;
}