<section class="datatable">
    <table class="tabled">
       
        
        <tbody>
            <tr>
                <td class="aligntd" width="50px"><div class="icondiv"><img [src]="users.imgicon" alt="image of {{users.name}}" width="46px"></div></td>
                <td width="200px"> <div class="picnameid"><p>{{users.name}}</p> <p class="idno">{{users.id}}</p></div></td>
                <td width="200px">{{users.item}}</td>
                <td width="200px">{{users.qty}}</td>
                <td width="200px">{{users.value}}</td>
                <td width="200px">{{users.date}}</td>
                <td width="200px" class="backbox">{{users.status}}</td>
                <td width="200px"><fa-icon icon="edit"></fa-icon><fa-icon icon="delete-left"></fa-icon></td>

            </tr>
        </tbody> 
    </table>
</section>