
<h4 mat-dialog-title> Add Item</h4>
  
  <form [formGroup]="preorderForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>User's name</mat-label>
      <input matInput type="text" placeholder="Enter your name" formControlName="name">
  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <input placeholder="Item name" matInput formControlName="itemName">
  </mat-form-field>
  
  <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input matInput placeholder="Quantity " formControlName="itemQuantity">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input placeholder="Item Price" matInput formControlName="itemValue">
</mat-form-field>


  <mat-form-field appearance="outline">
      <mat-label>Date Added</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="orderDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="itemStatus">
        <mat-option *ngFor="let order of orders" [value]="order.value" >{{order.viewValue}}</mat-option>
    </mat-select>
   <!--supposed to be a matselect-->
</mat-form-field>
  
<div mat-dialog-actions class="action">
  <button mat-raised-button color="primary" type="submit">{{ data ? 'Update': 'Update Preorder' }}</button>
</div>

</form>
