<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<div>

 
    <nav class="nav-items-1"> 
        <ul>
        <li [routerLinkActive]="'active'"><a routerLink="./homepage">Dashboard</a></li>
        <li routerLinkActive="'active'"><a routerLink="./menuhome">Menus</a></li>
        <li routerLinkActive="'active'"><a routerLink="./liveorders">Live Orders</a></li>
        <li routerLinkActive="'active'"><a routerLink="./preorders">Pre-Orders</a></li>
        <li routerLinkActive="'active'"><a routerLink="./staff">Staff</a></li>
        <li routerLinkActive="active"><a routerLink="./inventory">Inventory</a></li>
        <li><fa-icon icon="bell"></fa-icon></li>
        <li><fa-icon icon="user"></fa-icon></li>
        </ul>
    </nav>
    <hr>
</div>
