.comboss{
  margin:80px 0 0 70px;
}
.comboss .addmealbtn button{
    
  height:35px;
  width:120px;
  background-color:rgb(5, 137, 19) ;
  color: white;

}
/*.comboss{
    height: 500px;
    width: 1400px;
    padding: 30px 0 0px 30px;
    text-align:centre;
    margin: 80px 0 0 70px;
    border: 2px solid rgb(228, 225, 225);
    border-radius: 0px;
}
.combos{
    display:flex;
    flex-direction: column;
}
.comboss p{
    color: rgb(107, 106, 106);
    font-size: large;
}

 .comboss .addmealbtn button{
    
    height:35px;
    width:120px;
    background-color:rgb(5, 137, 19) ;
    color: white;

}

.comboss button{
    color: white;
}
/*
.datatable table{
    font-size: larger;
    width: 100%;
}
.datatable thead tr th{
    border-top: 2px solid rgb(228, 225, 225);
    border-bottom: 2px solid rgb(228, 225, 225);
    height: 40px;
    color:black;
    text-align: left;
}
*/

/*searchform*/
* {
    box-sizing: border-box;
  }
  
  form.input input[type=text] {
    padding: 10px;
    height: 50px;
    font-size: 17px;
    border: 2px solid rgb(228, 225, 225);
    float: left;
    width: 60%;
    margin: 30px 0 30px 0;
    background: white;
  }
  
  form.input button {
    float:left;
    width: 9%;
    height: 50px;
    margin: 30px 0 0 0;
    padding: 10px;
    background:#c1584a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.input button:hover {
    background: #7a1205;
  }
  
  form.input::after {
    content: "";
    clear: both;
  }

  /*addcategory button*/
  form.input .mealadding input[type=text] {
    padding: 10px;
    height: 50px;
    font-size: 17px;
    border: 2px solid rgb(228, 225, 225);
    float: left;
    width: 60%;
    margin: 30px 0 30px 0;
    background: white;
  }
  form.input .mealadding button{
    float:left;
    width: 10%;
    height: 50px;
    margin: 20px 0 0 50px;
    padding: 10px;
    background:white;
    color: #c1584a;
    font-size: 17px;
    border: 1px solid#c1584a;
    cursor: pointer;
  }
  form.input .mealadding button:hover {
    background: #c5c2c2;
  }
  
  form.input::after {
    content: "";
    clear: both;
  }

  /*search menubar*/
.menubar p{
    color: rgb(107, 106, 106);
    font-size: xx-large;
}
.menubar{
    margin: 30px 0 30px 120px;
}
  



