tbody td fa-icon{
    width:40px;
    height:30px;
    padding:10px 20px 10px 10px;
   
}
tbody td .add{
    color: aqua;
}
tbody td .del{
    color:red;
}


/**/
mat-form-field{
    display: block important;
    position:relative;
    text-align: left;
    width:100%;
    color: black;
    padding-bottom: 10px;
    
}
.addbutton{
    width:60%;
    background-color: green;
    height:50px;
    align-items: center;
}
form button{
    width: 70%;
   margin-left: 80px;
}