<div class="chefnote">
  <p>Staff</p>
      <div class="title">
          <form class="inputone" action="/action_page.php">
          <button mat-raised-button type="submit" (click)="openAddEditEmpForm()">Add Staff</button>
          </form>
      </div>
</div> 

  <!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <div class="analytics">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link" color="orangered"> {{link}} </a>
      </div>
  </nav>
<mat-tab-nav-panel #tabPanel> -->

  <mat-tab-group>
    <mat-tab label="All">
        <section class="ordersummary">

          <form class="input" action="/action_page.php">
            <input type="text" placeholder="" name="search" #filter  (keyup)="applyFilter($event)" #input>
            <button type="submit" (click)="filterResults(filter.value)">Search</button>
          </form>
    
    
        <section class="datatable">
          <table class="tabled" mat-table [dataSource] = "dataSource" matSort>

            <ng-container matColumnDef="imgicon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell mat-cell *matCellDef="let row"><img src="{{row.imgicon}}" alt="" width="40px"></td>
           </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="staffname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let row"> {{row.staffname}}</td>
            </ng-container>

            <ng-container matColumnDef="department">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
              <td mat-cell *matCellDef="let row"> {{row.department}}</td>
            </ng-container>

            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
              <td mat-cell *matCellDef="let row"> {{row.position}}</td>
            </ng-container>

            <ng-container matColumnDef="joined">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Joined </th>
              <td mat-cell *matCellDef="let row"> {{row.joined | date}}</td>
            </ng-container> 

            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</th>
              <td mat-cell *matCellDef="let row"> {{row.mobile}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openEditForm(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. 
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>-->
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </section>
  </section>
  <app-offduty></app-offduty>
    </mat-tab>



    <mat-tab label="Onduty">
     <app-onduty></app-onduty>
    </mat-tab>


    <mat-tab label="Offduty">
     <app-offduty></app-offduty>
    </mat-tab>

  </mat-tab-group>

  <hr>

 

 
  
  
  <!-- <div class="analytics">
      <ul> 
          <li>
              <p><a routerLinkActive="active" routerLink="staff">All </a></p>  
          </li>
          <li>
              <p><a routerLink="onduty">On Duty</a></p>
          </li>
          <li>
              <p><a routerLink="offduty">Off Duty</a></p>
          </li>
      </ul>  
  </div> -->
  





        