<nav>
    <div class="analytics">
        <ul>
            <li class="chefnote"><p>Welcome <br> Head Chef.</p></li>
            <li>
                <p>Total Earnings <br> <a>#600,000</a></p> <fa-icon icon="ellipsis"></fa-icon> 
            </li>
            <li>
                <p>Today's Orders <br> <a>20,000 Items</a></p> <fa-icon icon="ellipsis"></fa-icon>
            </li>
            <li>
                <p>Tomorrow's Orders <br> <a>20,000 Items</a></p> <fa-icon icon="ellipsis"></fa-icon>
            </li>
        </ul>  
    </div>
</nav>

<section class="comboss">
    <div article-title><p>Trending Combos</p></div>

    <section class="combos">
    <app-trendingcombo  *ngFor="let trendingcombo of trendingcomboList"
      ></app-trendingcombo>
    </section>
</section>

<section class="ordersummary">
    <div class="summary">
        <p>Order Summary</p> 
        <div class="faicon"><fa-icon icon="ellipsis"></fa-icon></div>
    </div>
    <section class="dropdown">
        <select name="category" id="category" placeholder="select category" #filter > <!--The dropdown, to show ordersummary contents-->
          <option value="select category" (click)="filterResultss(filter.value)" >Select Category</option>  <!--Click event to filter by item(not working properly yet)-->
          <option *ngFor="let users of usersList">{{users.item}}</option>
        </select>
    </section>
    <section class="datatable">
        <table class="tabled" mat-table [dataSource] = "dataSource" matSort>

          <!-- Progress Column -->
          <ng-container class="imgiconpadding" matColumnDef="imgicon" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header ></th>
            <td mat-cell mat-cell *matCellDef="let row"><img src="{{row.imgicon}}" alt="" width="40px"></td>
         </ng-container>
          <ng-container matColumnDef="name" margin-left="5px">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Names </th>
            <!-- <td *ngFor="let users of usersList">{{users.imgicon}}</td> -->
            <td mat-cell mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
            <td mat-cell *matCellDef="let row"> {{row.item}}</td>
          </ng-container>

          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let row"> {{row.qty}}</td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
            <td mat-cell *matCellDef="let row"> {{row.value}}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date | date}}</td>
          </ng-container> 
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row"> {{row.status}}</td>
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. 
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>-->
        </table>

       <mat-paginator [pageSizeOptions]="[5,10]" aria-label="Select page of users"></mat-paginator>
  </section>
</section>







